<!DOCTYPE html>
<html>
  <head>
    <title>後払いができるホテル予約サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <p>ヘッダー</p>
    </header>

    <%= yield %>

    <footer>
      <p>フッター</p>
    </footer>

  </body>

</html>
